
{% extends "home/index.html" %}
{% load static %}
{% block title %}
{{blog.title}}
{% endblock %}
{% block CuerpoDelTemplate %}


<link href="{% static 'home/styles/bootstrap4/bootstrap.min.css' %}" rel="stylesheet" type="text/css" >
<link href="{% static 'home/plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'home/plugins/colorbox/colorbox.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'home/styles/blog_single.css' %}" rel="stylesheet" type="text/css" >
<link href="{% static 'home/styles/blog_single_responsive.css' %}" rel="stylesheet" type="text/css" >
<body>
	<div class="home">
		<div class="breadcrumbs_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="breadcrumbs">
							<ul>
								<li><a href="{% url 'home:Home' %}">inicio</a></li>
								<li><a href="{% url 'blog:Blogs' %}">Blog</a></li>
								<li>{{blog.title}}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>

	<!-- Blog -->

	<div class="blog">
		<div class="container">
			<div class="row">
				
				<!-- Blog Content -->
				
					<div class="blog_content">
						<div class="blog_title">{{blog.title}}
							{% if user.is_authenticated %}
							|
        					<a href="{% url 'blog:BlogUpdate' blog.id %}">
        					    <i class="fa fa-pencil" style="color: rgb(0, 0, 190);"> </i>
        					</a>
        					|
        					<a href="{% url 'blog:BlogDelete' blog.id %}">
        					    <i class="fa fa-trash" style="color: rgb(0, 0, 100);"> </i>
        					</a>
							{% endif %}
						</div>
						<div class="blog_meta">{{blog.subtitle}}</div>
						<div class="blog_meta">
							<ul>
								<li>Publicado el <a>{{blog.post_date}}</a></li>
								<li>por {{blog.author.first_name}} {{blog.author.last_name}}</li>
							</ul>
						</div>
						<div class="blog_post_image">
							{% if user.is_superuser %}
								<a href="{% url 'blog:BlogUpdateImage' blog.id %}">
							{% else %}
								<a>	
							{% endif %}
							{% if blog.image %}
								<img src={{blog.image.url}} alt="">
							{% else %}
								sin imagen
							{% endif %}
						</a>
						</div>
						<p>{{blog.text|safe}}</p>

					</div>
					
					<!-- Comments -->
					<div class="comments_container">
						<div class="comments_title"><span>{{count}}</span> Comentarios</div>
						<ul class="comments_list">
							<li>
								{% if message_list %}
								{% for message in message_list %}
								<div class="comment_item d-flex flex-row align-items-start jutify-content-start">
									<div class="comment_content">
										<div class="comment_title_container d-flex flex-row align-items-center justify-content-start">
											<div class="comment_author">{{message.author.first_name}} {{message.author.last_name}}</div>
											<div class="comment_time ml-auto">{{message.post_date}}</div>
										</div>
										<div class="comment_text">
											<p>{{message.body}}</p>
										</div>
									</div>
								</div>
								{% endfor %}
								{% endif %}

							</li>
						</ul>
						{% if user.is_authenticated %}
							<div class="add_comment_container">
								<div class="add_comment_title">Escribe un comentario</div>
								<form action="{% url 'chat:MessageDjangoForms' blog.id %}" class="comment_form">
									<div>
										<div class="form_title">Comentario</div>
										<textarea name="body" class="comment_input comment_textarea"  required="required"></textarea>
									</div>
									<div>
										<button type="submit" class="comment_button trans_200">comentar</button>
									</div>
								</form>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="{% static 'home/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'home/styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'home/styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'home/plugins/easing/easing.js' %}"></script>
<script src="{% static 'home/plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'home/plugins/colorbox/jquery.colorbox-min.js' %}"></script>
<script src="{% static 'home/js/blog_single.js' %}"></script>

{% endblock %}

